/* this is suposed to aid UI, I dont know how effective
 it is, but its not messing with the code s I left it */
 html {
    scroll-behavior: smooth;
}

/* sets the base guidelines for the whoel page */
body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* creates the header with a background image of th upper school */
.header{
    padding-top: 1vw;
    padding-bottom: 1vw;
    color: white;
    background-color: rgb(0, 0, 0);
    background-image: url("images/Backgroud.png");
    background-size: cover;
    text-align: center;
    font-size: 3vw;
}

/* creats setting for the nav bar, where nav buttons reside */
.nav{
    display: flex;
    background-color: rgb(141, 13, 24);
    justify-content: center;

}

/* customizes the indavidual buttons in the nav bar */
.button{
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: transparent;
    border-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3vw;
    color: white;
}

/* hover animation */
.button:hover {
    background-color: white;
    color:black;
}
/* --- end of navigation bar --- */

/* attempt at making it mobile frendliy @ media screen make a 
sort of conditional statement for how big the mindow is open */
@media screen and (min-width: 1460px) {
    .nav .button{
        font-size: 19px;
    }
}
@media screen and (max-width: 750px) {
    .nav .button{
        font-size: 10px;
        padding-left: 6px;
        padding-right: 6px;
    }
}

/* creates the encapsilationg flex
 box for the ranking+ description */
.rankingsBox{
    margin: 5vw;
    margin-top: 3vw;
    background-color: rgb(230, 226, 226);
}
/* description of what the rankings mean */
.rankingTitle{
    padding: 20px;
    text-align: center;
    background-color: rgb(219, 195, 199);
}

/* makes the flex box where
 the rankings will be listed */
.topTenList{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
}

/* sets the style for ranking 1-3 */
.topThree{
    display: flex;
    font-size: 20px;

}

/* adds restrictions to the graphics 1-3 rank*/
.trophy{
    max-height: 20px;
    margin: 2px;
}

/* sets the style for ranking 4-10 */
.ranking{
    margin: 20px;
    text-align: center;
}

/* sets the hover animation for rankings 4-10 */
.ranking:hover{
    text-decoration: underline;
    color:  white;
}
/* sets the hover animation for rankings 1-3 */
.topThree:hover{
    text-decoration: underline;
    font-weight: bold;
    color:  rgb(141, 13, 24);
}
/* --- end of rankingsBox --- */


/* this is the overaching flex box for the following ellements
--- END CALENDAR will mark the end of this! */
.calendar{
    display: flex;
    margin: 2vw;
    flex-direction: column;
    background-color: white;
}

/* this is the title box for the calendar */
.calendarTitle{
    background-color: rgb(141, 13, 24);
    font-size: 20px;
    margin-left: 4vw;
    margin-right: 4vw;
    text-align: center;
    background-image: url("images/whiteboard.png");
    background-size: cover;
    color: white;
}

.infoBox{
    margin-top: 10px;
    display: flex;
    background-color: white;
}

/* -- creates a colum that can be 
resid=zed to fit nicly beside the calendar-- */
.filters{
    /* margins add empty space, paddind ads space
     from the outer edge of a element to the 
     start of x element -- */
    margin-left: 10px;
    width: 25vw;
    display: flex;
    /* changers the defalt direction of 
    the flex box so elements are stacked*/
    flex-direction: column;
    background-color:white;
}

.options{
    height: 36vw;
    margin: 2vw;
    padding: 1vw;
    background-color:lightgray;
}
/* --- basic information box -- */
.description{
    height: 8vw;
    margin: 10px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2vw;
    color: white;
    padding: 1vw;
    background-color:rgba(141, 13, 24, 0.777);
}

/*-- this ir really just a place holder for when
 we figure our haw to input the calendar --*/

 .calendar {
    background-color:rgb(237, 237, 237);
    overflow: hidden;
    width: 90%;

    color: rgb(141, 13, 24);
    padding: 20px;
}
.Cheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-decoration: underline;
}
.btn {
    cursor: pointer;
}

.arrow{
    position: relative;
    background-color:rgb(107, 107, 107);
    padding: 4px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.arrow:hover{
    box-shadow: 0px 0px 5px 1px rgb(146, 146, 146);
    background-color: rgb(141, 13, 24);
    cursor: pointer;
}

.arrow i{
    position: absolute;
    height: 5px;
    width: 5px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    transform: rotate(45deg);
    left: 10px;
    top: 10px;

}
.left{
    transform: rotate(270deg);
}
.right{
    transform: rotate(90deg);
}

#month-year {
    font-weight: bold;
    font-size: 20px;
}
.weekdays, .days {
    display: flex;
    flex-wrap: wrap;
}
.days {
    height: 240px;
}
.weekdays div, .days div {
    width: 14.28%;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}
.days div {
    height: 20%;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    border-color: black;
}
.days div:hover {
    background-color: white;
    color: black;
}
.days .today {
    background-color: rgb(141, 13, 24);
    color: white;
}
.days .fade {
    color: #afadad;
}
/* --- END CALENDAR --- */

/* creates the footer at the bottom of page */
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    background-color: lightgray;
    margin: 0;

}
.footnote{
    padding: 2vw;
    cursor: pointer;
}

.footnote:hover{
    color: white;
    background-color: rgb(141, 13, 24);
    text-decoration-line: overline;
    text-decoration-thickness: from-font;
    font-style: oblique;
}

/* ---creates a flex box, where the regular stab
logo reside within. since the logo is typical a transparent bg 
i had to se the backround to match the foot note for logo so
the background image in logos would not show
--- */
.logos{
    /* all of these create a singular 
    (not repeated) saints athletic logo reside 
    underneath the regular saints logo */
    background-image: url("images/smallAlogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    margin: 0;
}
.logo{
    width: 6vw;
    height: auto;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: lightgrey;
    cursor: pointer;
}

/* upon hover, it makes the image/logo transparent 
revealing background image in logos */
.logo:hover{
    opacity:0;
}
/* -------end of cool logo efect------- */
/* end of footer */
