/* this is suposed to aid UI, I dont know how effective
 it is, but its not messing with the code s I left it */
 html {
    scroll-behavior: smooth;
}

/* sets the base guidelines for the whoel page */
body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* creates the header with a background image of th upper school */
.header{
    padding-top: 1vw;
    padding-bottom: 1vw;
    color: white;
    background-color: rgb(0, 0, 0);
    background-image: url("images/Backgroud.png");
    background-size: cover;
    text-align: center;
    font-size: 3vw;
}

/* creats setting for the nav bar, where nav buttons reside */
.nav{
    display: flex;
    background-color: rgb(141, 13, 24);
    justify-content: center;

}

/* customizes the indavidual buttons in the nav bar */
.button{
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: transparent;
    border-color: transparent;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3vw;
    color: white;
}

/* hover animation */
.button:hover {
    background-color: white;
    color:black;
}
/* --- end of navigation bar --- */

/* attempt at making it mobile frendliy @ media screen make a 
sort of conditional statement for how big the mindow is open */
@media screen and (min-width: 1460px) {
    .nav .button{
        font-size: 19px;
    }
}
@media screen and (max-width: 750px) {
    .nav .button{
        font-size: 10px;
        padding-left: 6px;
        padding-right: 6px;
    }
}

/* creates the encapsilationg flex
 box for the ranking+ description */
.rankingsBox{
    margin: 5vw;
    margin-top: 3vw;
    background-color: rgb(230, 226, 226);
}
/* description of what the rankings mean */
.rankingTitle{
    padding: 20px;
    text-align: center;
    background-color: rgb(219, 195, 199);
}

/* makes the flex box where
 the rankings will be listed */
.topTenList{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
}

/* sets the style for ranking 1-3 */
.topThree{
    display: flex;
    font-size: 20px;

}

/* adds restrictions to the graphics 1-3 rank*/
.trophy{
    max-height: 20px;
    margin: 2px;
}

/* sets the style for ranking 4-10 */
.ranking{
    margin: 20px;
    text-align: center;
}

/* sets the hover animation for rankings 4-10 */
.ranking:hover{
    text-decoration: underline;
    color:  white;
}
/* sets the hover animation for rankings 1-3 */
.topThree:hover{
    text-decoration: underline;
    font-weight: bold;
    color:  rgb(141, 13, 24);
}
/* --- end of rankingsBox --- */


/* this is the overaching flex box for the following ellements
--- END CALENDAR will mark the end of this! */
.schedule{
    display: flex;
    margin: 2vw;
    flex-direction: column;
    background-color: white;
}

/* this is the title box for the calendar */
.calendarTitle{
    background-color: rgb(141, 13, 24);
    font-size: 20px;
    margin-left: 2vw;
    margin-right: 2vw;
    padding: 2vw;
    text-align: center;
    background-image: url("images/whiteboard.png");
    background-size: cover;
    color: white;
}

.infoBox{
    margin-top: 0px;
    display: flex;
    background-color: white;
    margin: 2vw;
}

.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8vw;
    padding: 1vw;
    background-color:lightgray;
    font-size: 1.5vw;
    height: 35vw;
}
.container{
    margin-bottom: 2vw;
}
/* -- creates a colum that can be 
resid=zed to fit nicly beside the calendar-- */
/* --- basic information box -- */
.description {
    height: 8vw;
    width: 8vw;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center; 
    font-size: 1.5vw;
    color: white;
    padding: 1vw;
    background-color: rgba(141, 13, 24, 0.777); 
}

/*-- the calendar --*/
.calendar {
    background-color: rgb(237, 237, 237);
    overflow: scroll; /* if content overflows */
    width: 95%;
    color: rgb(141, 13, 24);
    margin-left: 1vw;
}
.Cheader {
    display: flex; 
    justify-content: space-between; /* makes space between header items */
    align-items: center;
    padding: 10px;
    margin: 0.75vw;
    background-color: #afadad; 
}
.btn {
    cursor: pointer; 
}

.arrow {
    position: relative;
    background-color: rgb(107, 107, 107);
    padding: 1px;
    height: 25px;
    width: 25px;
    border-radius: 50%; /* Makes button circular */
}
.arrow:hover {
    box-shadow: 0px 0px 5px 1px rgb(146, 146, 146);
    background-color: rgb(141, 13, 24); 
    cursor: pointer;
}

.arrow i {
    position: absolute; /* makes arrow exist inside the button */
    height: 5px;
    width: 5px;
    border-top: 3px solid white;
    border-left: 3px solid white;
    transform: rotate(45deg); /* Rotates to form an arrow */
    left: 9px;
    top: 10px;
}

/* Rotates arrow for left direction */
.left {
    transform: rotate(270deg); 
}

 /* Rotates arrow for right direction */
.right {
    transform: rotate(90deg);
}

#month-year {
    font-weight: bold;
    font-size: 20px;
}

.weekdays, .days {
    display: flex; 
    flex-wrap: wrap; /* Wraps to new lines if needed */
    gap: 4px;
    margin: 0.75vw;
}

.days {
    gap: 4px; /* Space between calendar days */
    height: 550px;
    padding-bottom: 5px;
}
.weekdays div, .days div {
    width: 14.006%; /* Equal width for all cells */
    text-align: center;
    align-items: start;
    border-radius: 5px;
    padding-top: 1px;
}

.days div {
    height: 20%; 
    cursor: pointer; /* Makes cells clickable/look lik they are */
    background-color: #f4f3f3;
    transition: background-color 0.3s;
}
.days div:hover {
    background-color: white;
    color: rgb(212, 0, 14); /* Red text on hover */
}
/* Different hover effect for today */
.days .today:hover {
    background-color: brown; 
    color: white;
}

/* Highlights today's date */
.days .today {
    background-color: rgb(141, 13, 24); 
    color: white;
}
.days .fade {
    color: #afadad; /* Faded text for non-current month dates */
}
/* --- END CALENDAR --- */

/* --- Calendar event creation stuff --- */
.event {
    font-size: 10px;
    padding: 3px;
    background-color: #58bae4; 
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden; 
}

#newEventModal, #deleteEventModal {
    display: none; /* Hidden */
    padding: 25px;
    background-color: white;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    position: absolute; /* Positions modal relative to viewport? */
    font-family: sans-serif;
}

#eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
}

#eventTitleInput.error {
    border: 2px solid red;
}

#cancelButton, #deleteButton {
    background-color: rgb(141, 13, 24);
    color: white;
}

#saveButton, #closeButton {
    background-color: rgb(146, 146, 146);
    color: white;
}

#eventText {
    font-size: 14px;
}

#modalBackDrop {
    display: none; /* Hidden */
    top: 0px;
    left: 0px;
    width: 100%; 
    height: 100%; 
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent */
}
/* has to do with brynne's stuff */
.tagBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* creates the footer at the bottom of page */
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    background-color: lightgray;
    margin: 0;

}
.footnote{
    padding: 3vw;
    cursor: pointer;
    margin: 0;
    margin-left: 2vw;
    margin-right: 2vw;
    align-items: center;
}

.footnote:hover{
    color: white;
    background-color: rgb(141, 13, 24);
    text-decoration-line:underline;
    text-decoration-thickness: from-font;
    font-style: oblique;
}


/* ---creates a flex box, where the regular stab
logo reside within. since the logo is typical a transparent bg 
i had to se the backround to match the foot note for logo so
the background image in logos would not show
--- */
.logos{
    /* all of these create a singular 
    (not repeated) saints athletic logo reside 
    underneath the regular saints logo */
    background-image: url("images/smallAlogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    margin: 0;
    margin-right: 3vw;
}
.logo{
    width: 5vw;
    height: auto;
    background-color: lightgrey;
    cursor: pointer;
}

/* upon hover, it makes the image/logo transparent 
revealing background image in logos */
.logo:hover{
    opacity:0;
}
/* -------end of cool logo efect------- */
/* end of footer */

